templates/loop/teste de loop com update attribute/teste_de_loop_com_update_attribute.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>teste de loop com update attribute</name><snippet><processGroups><id>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</id><parentGroupId>268b5fd9-8c00-4e8a-96e5-1d74448f2dbb</parentGroupId><position><x>494.37816619873047</x><y>145.97161865234375</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>e26b94a6-7328-4243-9db5-d5fbf76d1545</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>9c8b7814-a0ab-405c-8196-56de44233135</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>f74d60a4-7dab-410c-840c-8ad85e354c26</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c5b367d6-efcd-4f1b-ae76-1594075658bb</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>a5e11b31-d860-43b6-a57b-f7f45f75f5fa</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>loop</selectedRelationships><source><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>9c8b7814-a0ab-405c-8196-56de44233135</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a192feb0-57b2-4837-8a50-46e499626702</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>dc371eb1-0fa4-44ff-8057-183b1ffad7d3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>endloop</selectedRelationships><source><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>9c8b7814-a0ab-405c-8196-56de44233135</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0da9c504-f191-4c57-b71d-4c31eed60b93</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>201.49999237060547</x><y>350.5</y></bends><destination><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>9c8b7814-a0ab-405c-8196-56de44233135</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>a5e11b31-d860-43b6-a57b-f7f45f75f5fa</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6813085e-adf0-48fb-8927-1c229574ba23</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>659.999989771823</x><y>193.99998700489266</y></bends><destination><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>dc371eb1-0fa4-44ff-8057-183b1ffad7d3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</groupId><id>9c8b7814-a0ab-405c-8196-56de44233135</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>dc371eb1-0fa4-44ff-8057-183b1ffad7d3</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><position><x>763.9999871730405</x><y>214.99997400978526</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>error</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key><value>valor</value></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>a5e11b31-d860-43b6-a57b-f7f45f75f5fa</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><position><x>246.99999237060547</x><y>378.0</y></position><config><annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_ORIGINAL&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;valor&lt;/attribute&gt;
            &lt;id&gt;3b4bf92b-d3f3-4f85-b039-83eb628f42cd&lt;/id&gt;
            &lt;value&gt;${valor:plus(1)}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${valor:notNull()}&lt;/expression&gt;
            &lt;id&gt;72ad8d18-a24b-437f-acac-1e6d51cf9046&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;e4dc3cdf-f79f-428e-bdf4-e6ab75286c57&lt;/id&gt;
        &lt;name&gt;iterar valor&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>valor</key><value><description></description><displayName>valor</displayName><dynamic>true</dynamic><name>valor</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>valor</key><value>${valor:plus(1)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>f74d60a4-7dab-410c-840c-8ad85e354c26</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><position><x>242.9999871730405</x><y>64.99998926857432</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if attributes will be written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Content</key><value><description>If flowfile-content has been setted, the content value can be used to fill the flowfile-content and the dynamics properties can be used to set attributes.</description><displayName>Content</displayName><dynamic>false</dynamic><name>Content</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>repeticao</key><value><description></description><displayName>repeticao</displayName><dynamic>true</dynamic><name>repeticao</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>valor</key><value><description></description><displayName>valor</displayName><dynamic>true</dynamic><name>valor</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Content</key></entry><entry><key>repeticao</key><value>10</value></entry><entry><key>valor</key><value>0</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>60 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateExpectedFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.wave.components.nifi.processors.GenerateExpectedFlowFile</type></processors><processors><id>9c8b7814-a0ab-405c-8196-56de44233135</id><parentGroupId>f2b053ca-8478-4d79-8a49-47bb9fc5ca5e</parentGroupId><position><x>245.99999237060547</x><y>223.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>endloop</key><value><description></description><displayName>endloop</displayName><dynamic>true</dynamic><name>endloop</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>loop</key><value><description></description><displayName>loop</displayName><dynamic>true</dynamic><name>loop</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>endloop</key><value>${valor:equals( ${repeticao} )}</value></entry><entry><key>loop</key><value>${valor:lt( ${repeticao} )}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>endloop</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>loop</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>teste de loop com update attribute</name><outputPortCount>0</outputPortCount><parent><id>268b5fd9-8c00-4e8a-96e5-1d74448f2dbb</id><name>Teste loop</name><parent><id>fd1465ec-a8e0-4d71-a406-57811bc8f3cf</id><name>testes</name><parent><id>8910bb49-51f3-408f-949d-1e7c6e121b2d</id><name>NiFi Flow</name></parent></parent></parent><runningCount>0</runningCount><stoppedCount>4</stoppedCount></processGroups></snippet><timestamp>09/23/2016 12:57:47 BRT</timestamp></template>